/* Overall */
html {
	height: 100%;
}

body {
	height: 100%;

	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 12pt;
	line-height: 16pt;

	background-color: #272228;
	color: #FFFFFF;
}

/* Divisions */
header {
	width: 100%;
	min-height: 100pt;

	background-color: #FFFFFF;

	color: #272228;
	text-align: center;
	text-shadow: 2px 2px #DBDBDB;
}

#column {
	max-width: 960px;
	margin: 0 auto;
	padding: 20pt 0;

	background-color: #3B343D;
}

section {
	clear: both;
}

p {
	margin: 20pt;
}

img.thumb {
	float: left;
	margin: 20pt;
}

a:link, a:visited {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

header a:link, header a:visited {
	color: #444444;
}

a:hover, header a:hover {
	color: #AAAAAA;
}

/* General headings */
h1, h2, h3, h4, h5, h6 {
	font-family: Oxygen, "Trebuchet MS", Tahoma, sans-serif;
	font-weight: normal;
	padding-left: 10pt;
	box-sizing: border-box;
	margin-top: 10pt;
}

h1 {
	font-size: 40pt;
	height: 55pt;
	line-height: 55pt;
	margin-top: 0;
}

h2 {
	font-size: 30pt;
	height: 45pt;
	line-height: 45pt;
}

h3 {
	font-size: 20pt;
	height: 35pt;
	line-height: 35pt;
}

h4 {
	font-size: 15pt;
	height: 25pt;
	line-height: 25pt;
}

section h2 {
	width: 100%;
	background-color: #76697A;
}

section h3 {
	width: 100%;
	background-color: #A090A5;
}