* {
	padding:0;
	margin:0;
}

html {
	height:100%;
}

body {
	height:100%;
	background-color:#788FB3;
	color:#FFFFFF;
	margin-top:10%;
	margin:0;
	padding:0;
	text-align: center;
}

h1, h2, h3, .box , .back {
	font-family:Oxygen, Tahoma, Sans-serif;
	text-align:center;
	font-weight:normal;
}

h1 {
	font-size:80px;
}

h2 {
	font-size:30px;
}

h3, .box {
	font-size:20px;
	font-weight:bold;
}

a:link, a:visited, a:active, a:hover {
	color:#FFFFFF;
	text-decoration:none;
}

.back {
	display:block;
}

.box {
	width:300px;
	height:200px;
	background-color:#9AAFCE;
	display:inline-block;
	*zoom:1;
	*display:inline;
	padding:10px;
	margin:10px;
	vertical-align:top;
	cursor:pointer;
}

#stickman {
	text-align:center;
	margin-top:25px;
	clear:both;
}

#gsicd {
	background-image:url("./static/gsicd.png");
}

#gsicd2 {
	background-image:url("./static/gsicd2.png");
}

#codingprogramming {
	background-image:url("./static/codingprogramming.png");
}

#treegen {
	background-image:url("./static/html5tree.png");
}

#patterns {
	background-image:url("./static/patterns.png");
}

#snake {
	background-image:url("./static/snake.png");
}

#top, #goodsiricannotdraw, #codingandprogramming {
	width:100%;
	min-height:100%;
}

#top {
	top:0;
}

#goodsiricannotdraw {
	background-color:#EE8877;
	top:100%;
}

#codingandprogramming {
	background-color:#88EE77;
	top:200%;
}

#goodsiricannotdraw .box {
	background-color:#FF9988;
}

#codingandprogramming .box {
	background-color:#99FF88;
}

.text {
	font-size:75%;
}