* {
	padding:0;
	margin:0;
}

body {
	min-height:100%;
	background-color:#788FB3;
	color:#FFFFFF;
	margin-top:10%;
}

h1, h2, h3 {
	font-family:Oxygen, Tahoma, Sans-serif;
	text-align:center;
	font-weight:normal;
}

h1 {
	font-size:80px;
}

h2 {
	font-size:30px;
}

h3 {
	font-size:20px;
	font-weight:bold;
}

#stickman {
	text-align:center;
	margin-top:25px;
}