<!DOCTYPE html>
<html>
	<head>
		<!-- Last Update: [v:lastupdatedmy] -->
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/">
		<title>
			[v:webcomicname]
			[c:pagetitle] - [v:pagetitle][/]
		</title>
		<script type="text/javascript" src="[v:cfscriptlink]"></script>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<div id="header">
			<div id="banner">
				<a href="/">
					<img src="files/banner.png" alt="Jubilant Meandering!">
				</a>
			</div>
			<div id="navigation">
				<a href="/about">
					<img src="files/about.png" alt="About!">
				</a>
				<a href="/blog">
					<img src="files/blog.png" alt="Blog!">
				</a>
				<a href="[v:addsubscriptionlink]">
					<img src="files/subscribe.png" alt="Subscribe!">
				</a>
			</div>
		</div>

		<div id="content">
			<div id="comic">
				<img src="testcomic.jpg" id="comicimage">
			</div>
			<div id="comicnavigation">
				<a href="/comics/first">
					<img src="files/first.png" alt="First">
				</a>
				<a href="[v:prevcomic]">
					<img src="files/previous.png" alt="Previous">
				</a>
				<a href="/comics/random">
					<img src="files/random.png" alt="Random">
				</a>
				<a href="[v:nextcomic]">
					<img src="files/next.png" alt="Next">
				</a>
				<a href="/comics/">
					<img src="files/latest.png" alt="Latest">
				</a>
			</div>
			<div id="comments">
				<div class="commentsheading">
					<img src="files/comments.png" alt="Comments">
				</div>
				<div class="comment">
					<div class="commentinfo">
						<img src="testavatar.png" alt="[v:l.authorname]" title="[v:l.authorname]" class="avatar">
						<a href="[v:l.profilelink]">[v:l.authorname]</a>
					</div>
					[v:l.comment]
					Occupy master cleanse accusamus, odio squid mixtape veniam. Id fingerstache tattooed ut gentrify. Dolor you probably haven't heard of them pariatur aliqua. Church-key sriracha pariatur tofu brooklyn shoreditch, forage consequat small batch. Placeat american apparel fugiat keytar flexitarian, laboris tattooed neutra eiusmod kogi terry richardson labore skateboard anim pinterest. Viral eu dolore gluten-free, ethical typewriter lo-fi yr sustainable wes anderson. Magna wes anderson laboris brooklyn, post-ironic minim etsy master cleanse mcsweeney's put a bird on it tofu.
					<div class="commentinteract">
						<a href="[v:l.editlink]" onclick='window.open("[v:l.editlink]","edit","menubar=no,width=530,height=360,toolbar=no"); return false;'>edit</a> 
						<a href="[v:l.deletelink]" class="[v:l.deleteclass]" onclick='window.open("[v:l.deletelink]","edit","menubar=no,width=530,height=360,toolbar=no"); return false;'>delete</a>
						<a href="[v:l.replylink]" class="[v:l.editclass]" onclick='window.open("[v:l.replylink]","edit","menubar=no,width=530,height=360,toolbar=no"); return false;'>reply</a>
					</div>
				</div>
				<div class="comment">
					<div class="commentinfo">
						<img src="testavatar.png" alt="[v:l.authorname]" title="[v:l.authorname]" class="avatar">
						<a href="[v:l.profilelink]">[v:l.authorname]</a>
					</div>
					[v:l.comment]
					Literally id craft beer organic you probably haven't heard of them put a bird on it. You probably haven't heard of them meggings beard, flannel aute fashion axe cupidatat trust fund 3 wolf moon kale chips velit. Quis esse YOLO, bicycle rights selvage nulla kale chips mollit vice freegan. Nulla vero mollit put a bird on it, wes anderson aliquip farm-to-table delectus pour-over. Echo park nihil kogi thundercats ennui. Godard consectetur banksy ad officia. Blog salvia flexitarian Austin ut skateboard.

					Ut direct trade velit, culpa nisi deep v hella semiotics banjo keffiyeh keytar tofu. Bushwick consequat nesciunt, ea hoodie ex excepteur butcher nostrud kogi shoreditch high life cupidatat irure. Thundercats nesciunt four loko, pariatur esse banh mi actually assumenda terry richardson id tattooed locavore Austin. Blue bottle direct trade mumblecore skateboard. Sint fanny pack flexitarian, authentic twee whatever brooklyn kale chips gluten-free commodo mixtape sustainable helvetica. Velit hoodie sed mcsweeney's. Sapiente irony occaecat, mlkshk freegan irure selvage velit actually placeat post-ironic in bespoke.
					<div class="commentinteract">
						<a href="[v:l.editlink]" onclick='window.open("[v:l.editlink]","edit","menubar=no,width=530,height=360,toolbar=no"); return false;'>edit</a> 
						<a href="[v:l.deletelink]" class="[v:l.deleteclass]" onclick='window.open("[v:l.deletelink]","edit","menubar=no,width=530,height=360,toolbar=no"); return false;'>delete</a>
						<a href="[v:l.replylink]" class="[v:l.editclass]" onclick='window.open("[v:l.replylink]","edit","menubar=no,width=530,height=360,toolbar=no"); return false;'>reply</a>
					</div>
				</div>
				<!-- we're putting the rocket inside the comments section because it won't fit elsewhere nicely -->
				<div id="rocket">
					<img src="files/rocketsmall.png">
					<a href="http://mercworks.net" class="leftcloud">
						<img src="files/mercnew.png" alt="MercWorks!">
					</a>
					<a href="http://lunarbaboon.squarespace.com" class="rightcloud">
						<img src="files/lunarbaboon.png" alt="Lunar Baboon!">
					</a>
					<a href="http://jspowerhour.com" class="leftcloud">
						<img src="files/jsphournew.png" alt="Junior Scientist Power Hour!">
					</a>
					<a href="http://deathbulge.com" class="rightcloud">
						<img src="files/deathbulge.png" alt="Death Bulge!">
					</a>
				</div>
			</div>
		</div>

		<div id="footer">
			<img src="files/bottomimage.png">
			<a href="http://twitter.com/stintzi" id="twitterbird">
				<img src="files/twitterbird.png" alt="Twitter!">
			</a>
		</div>
	</body>
</html>