<!DOCTYPE html>
<html>
	<head>
		<!-- Last Update: [v:lastupdatedmy] -->
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/">
		<title>
			[v:webcomicname]
			[c:pagetitle] - [v:pagetitle][/]
		</title>
		<script type="text/javascript" src="[v:cfscriptlink]"></script>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<div id="header">
			<div id="banner">
				<a href="/">
					<img src="files/banner.png" alt="Jubilant Meandering!">
				</a>
			</div>
			<div id="navigation">
				<a href="/about">
					<img src="files/about.png" alt="About!">
				</a>
				<a href="/blog">
					<img src="files/blog.png" alt="Blog!">
				</a>
				<a href="[v:addsubscriptionlink]">
					<img src="files/subscribe.png" alt="Subscribe!">
				</a>
			</div>
		</div>
	</body>
</html>