<!DOCTYPE html>
<html>
	<head>
		<!-- Last Update: [v:lastupdatedmy] -->
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/">
		<title>
			[v:webcomicname]
			[c:pagetitle] - [v:pagetitle][/]
		</title>
		<script type="text/javascript" src="[v:cfscriptlink]"></script>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<div id="header">
			<div id="banner">
				<a href="/">
					<img src="files/banner.png" alt="Jubilant Meandering!">
				</a>
			</div>
			<div id="navigation">
				<a href="/about">
					<img src="files/about.png" alt="About!">
				</a>
				<a href="/blog">
					<img src="files/blog.png" alt="Blog!">
				</a>
				<a href="[v:addsubscriptionlink]">
					<img src="files/subscribe.png" alt="Subscribe!">
				</a>
			</div>
		</div>

		<div id="content">
			<div id="comic">
				<img src="testcomic.jpg" id="comicimage">
			</div>
			<div id="comicnavigation">
				<a href="/comics/first">
					<img src="files/first.png" alt="First">
				</a>
				<a href="[v:prevcomic]">
					<img src="files/previous.png" alt="Previous">
				</a>
				<a href="/comics/random">
					<img src="files/random.png" alt="Random">
				</a>
				<a href="[v:nextcomic]">
					<img src="files/next.png" alt="Next">
				</a>
				<a href="/comics/">
					<img src="files/latest.png" alt="Latest">
				</a>
			</div>
		</div>

		<div id="footer">
			<img src="files/bottomimage.png">
		</div>
	</body>
</html>