* {
	padding:0;
	margin:0;
}

body {
	background-color:#DDF2FF;
	background-image:url("files/topimage.jpg");
	background-size:100% auto;
	background-repeat:repeat-x;
	background-attachment:top middle;
	font-family:"Trebuchet MS", Arial, Sans-serif;
}

#header {
	text-align:center;
}

#navigation a {
	text-decoration:none;
	margin:20px;
}

#comic {
	text-align:center;
}

#comicimage {
	border:3px solid #000000;
}

#comicnavigation {
	text-align:center;
}

#comicnavigation a {
	text-decoration:none;
}

.commentsheading {
	text-align:center;
}

.comment {
	max-width:650px;
	padding:12px 0 25px 150px;
	margin:10px auto;
	position:relative;
	border-top:1px solid #AAAAAA;
}

.commentinfo {
	position:absolute;
	left:0;
	top:0;
	text-align:center;
	padding-top:12px;
	width:150px;
	font-weight:bold;
}

.commentinteract {
	position:absolute;
	bottom:2px;
	right:12px;
}

#footer img {
	width:100%;
}