* {
	padding:0;
	margin:0;
}

a img, a {
	border:0;
}

body {
	background-color:#EBF7FF;
	background-image:url("files/topimage.jpg");
	background-repeat:repeat-x;
	background-attachment:top middle;
	font-family:"Trebuchet MS", Arial, Sans-serif;
}

a:link {
	text-decoration:none;
	color:#3333AA;
}
a:hover {
	color:#6666DD;
}

#header {
	text-align:center;
}

#navigation a, #comicnavigation a {
	margin:20px;
}

#comic {
	text-align:center;
}

#comicimage {
	border:3px solid #000000;
}

#comicnavigation {
	text-align:center;
}

#comments {
	width:600px;
	padding-right:200px;
	margin:0 auto;
	position:relative;
}

.commentsheading {
	text-align:center;
}

.comment {
	max-width:650px;
	padding:12px 0 25px 150px;
	margin:10px auto;
	position:relative;
	border-top:1px solid #AAAAAA;
}

.commentinfo {
	position:absolute;
	left:0;
	top:0;
	text-align:center;
	padding-top:12px;
	width:150px;
	font-weight:bold;
}

.commentinteract {
	position:absolute;
	bottom:2px;
	right:12px;
}

#rocket {
	position:absolute;
	right:0px;
	top:0px;
}

.leftcloud {
	display:block;
	margin-right:20px;
}

.rightcloud {
	display:block;
	margin-left:40px;
}

#footer {
	position:relative;
}

#footer img {
	width:100%;
}

#twitterbird img {
	width:100%;
}

#twitterbird {
	position:absolute;
	right:25%;
	top:0;
	width:10%;
}