body, html {
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;

	text-align: center;
}

h1 {
	font-family: "Gloria Hallelujah", sans-serif;
	font-weight: bold;
}

#comic {
	width: 750px;
	height: 220px;

	margin: 0 auto;
}

.panel {
	width: 250px;
	height: 220px;

	padding: 0;
	margin: 0;

	overflow: hidden;
	position:relative;
	float: left;
}

.art, .text, .frame {
	position: absolute;
}