<!DOCTYPE html>
<html>
	<head>
		<title>
			Port Macquarie High School
		</title>
		
		<link rel="stylesheet" type="text/css" href="styles.css"> 
		<link rel="shortcut icon" 
			type="image/x-icon" 
			href="static/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!--[if !IE 7]>
			<style type="text/css">
				#wrapper {display:table;height:100%}
			</style>
		<![endif]-->

		<!--[if IE 6]>
			<style type="text/css">
				#headergrad {display:none;}
			</style>
		<![endif]-->
	</head>
	<body>
		<div id="wrapper"> <!-- this is for pushing the footer to the bottom of the screen -->
			<div id="header">
				<div id="headergrad">
				</div>
				<div id="logo">
					<a href="index.html">
						<img src="static/logo.png">
					</a>
				</div>
				<div id="address">
					Owen Street<br>
					Port Macquarie<br>
					2444
				</div>
			</div>
			
			<div class="nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="information.html" class="selected">Information</a></li>
					<li><a href="news.html">News</a></li>
					<li><a href="heritage.html">Heritage</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
					
			<div id="context">
				<h1>Canteen</h1>
				<div class="nav aftertitle">
					<ul>
						<li><a href="information.html">Information</a></li>
						<li><a href="policies.html">Policies</a></li>
						<li><a href="curriculum.html">Curriculum</a></li>
						<li><a href="faculties.html">Staff</a></li>
						<li><a href="canteen.html" class="selected">Canteen</a></li>
						<li><a href="uniform.html">Uniform</a></li>
					</ul>
				</div>
				<div class="content">
					<div class="contentbanner">
						<!-- this is a special image - it resizes itself to fit the browser.
							ideally, it should be 900px wide. -->
						<img src="static/canteen.jpg">
					</div>
					The canteen is open every recess and lunchtime for junior students, as well as study periods for senior students.
					<table class="canteen">
						<tbody>
						<tr><th colspan="2"> MILK </th></tr>
						<tr><td>Large Flavoured Milk</td><td>$3.50</td></tr>
						<tr><td>Small Flavoured Milk</td><td>$2.30</td></tr>
						<tr><td>600mL Plain Milk</td><td>$1.90</td</tr>
						<tr><td>1L Plain Milk</td><td>$1.90</td></tr>
						<tr><td>1L Light Milk</td><td>$2.50</td></tr>
						<tr><td>Custard</td><td>$2.50</td></tr>
						</tbody>
					</table>
					<table class="canteen">
						<tr><th colspan="2"> SNACK FOODS </th></tr>
						<tr><td>All chips</td><td>$1.00</td></tr>
						<tr><td>Mini Cookies</td><td>.50c</td></tr>
						<tr><td>Muffins</td><td>$2.00</td></tr>
						<tr><td>Finger Buns</td><td>$1.50</td></tr>
						<tr><td>Cheese &amp; Bacon Rolls</td><td>$1.50</td></tr>
						<tr><td>Tomato Sauce</td><td>.20c</td></tr>
					</table>
					<table class="canteen">
						<tr><th colspan="2"> JUICE </th></tr>
						<tr><td>Daily Juice</td><td>$2.80</td></tr>
						<tr><td>Large Juice</td><td>$2.50</td></tr>
						<tr><td>Small Juice</td><td>$1.50</td></tr>
					</table>
					<table class="canteen">
						<tr><th colspan="2"> HOT FOOD </th></tr>
						<tr><td>Traveller Pies</td><td>$2.50</td></tr>
						<tr><td>Sausage Rolls</td><td>$2.20</td></tr>
						<tr><td>Shepherd's Pies</td><td>$3.00</td></tr>
						<tr><td>Cheese &amp; Spinach Rolls</td><td>$3.00</td></tr>
						<tr><td>Timbertown Pies</td><td>$3.00</td></tr>
						<tr><td>Pizza Roundas</td><td>$2.00</td></tr>
						<tr><td>Burgers</td><td>$3.00</td></tr>
					</table>
					<table class="canteen">
						<tr><th colspan="2"> SOFT DRINKS </th></tr>
						<tr><td>Saxby Drinks</td><td>$2.50</td></tr>
						<tr><td>Large Iced Tea</td><td>$2.80</td></tr>
						<tr><td>Small Iced Tea</td><td>$1.80</td></tr>
						<tr><td>LOL Cans</td><td>$1.80</td></tr>
					</table>
					<table class="canteen">
						<tr><th colspan="2"> WATER </th></tr>
						<tr><td>Focus Flavoured Water</td><td>$2.00</td></tr>
						<tr><td>600mL Water</td><td>$1.00</td></tr>
						<tr><td>1.5L Water</td><td>$2.00</td></tr>
					</table>
					<table class="canteen">
						<tr><th colspan="2"> PREPARED FRESH DAILY </th></tr>
						<tr><td>Sandwiches</td><td>$2.00-$4.00</td></tr>
						<tr><td>Rolls</td><td>$2.50-$4.50</td></tr>
						<tr><td>Wraps</td><td>$3.00-$4.00</td></tr>
						<tr><td>Salads</td><td>$3.00-$4.00</td></tr>
					</table>
				</div>
			</div>
			<div class="push"></div>
		</div>
		<div id="footer">
			<div id="footerlinks">
				<a href="contact.html">Contact</a>
				<a href="about.html">About</a>

				<a href="http://www.portmac-h.schools.nsw.edu.au/moodle/login/index.php">Moodle</a>
				<a href="sitemap.html">Sitemap</a>
			</div>
			<a href="index.html"><img src="static/logo.png" id="footerlogo"></a>
		</div>
	</body>
</html>