<!DOCTYPE html>
<html>
	<head>
		<title>
			Port Macquarie High School
		</title>
		
		<link rel="stylesheet" type="text/css" href="styles.css"> 
		<link rel="shortcut icon" 
			type="image/x-icon" 
			href="static/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!--[if !IE 7]>
			<style type="text/css">
				#wrapper {display:table;height:100%}
			</style>
		<![endif]-->

		<!--[if IE 6]>
			<style type="text/css">
				#headergrad {display:none;}
			</style>
		<![endif]-->
	</head>
	<body>
		<div id="wrapper"> <!-- this is for pushing the footer to the bottom of the screen -->
			<div id="header">
				<div id="headergrad">
				</div>
				<div id="logo">
					<a href="index.html">
						<img src="static/logo.png">
					</a>
				</div>
				<div id="address">
					Owen Street<br>
					Port Macquarie<br>
					2444
				</div>
			</div>
			
			<div class="nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="information.html">Information</a></li>
					<li><a href="news.html">News</a></li>
					<li><a href="heritage.html">Heritage</a></li>
					<li><a href="contact.html" class="selected">Contact</a></li>
				</ul>
			</div>
					
			<div id="context">
				<h1>Contact</h1>
				<div class="nav aftertitle">
					<ul>
						<li><a href="contact.html"  class="selected">School</a></li>
						<li><a href="faculties.html">Staff</a></li>
					</ul>
				</div>
				<table id="contact">
					<tr>
						<td>
							<img src="static/mail_icon.png">
						</td>
						<td>
							Port Macquarie High School<br>
							P O Box 539<br>
							Port Macquarie. NSW. 2444
						</td>
					</tr>
					<tr>
						<td>
							<img src="static/phone_icon.png">
						</td>
						<td>
							02 6583 1844
						</td>
					</tr>
					<tr>
						<td>
							<img src="static/fax_icon.png">
						</td>
						<td>
							02 6584 1632
						</td>
					</tr>
					<tr>
						<td>
							<img src="static/at_icon.png">
						</td>
						<td>
							portmac-h.school@det.nsw.edu.au
						</td>
					</tr>
					<tr>
						<td>
							<img src="static/www_icon.png">
						</td>
						<td>
							http://portmac-h.schools.nsw.edu.au
						</td>
					</tr>
					
				</table>
			</div>
			<div class="push"></div>
		</div>
		<div id="footer">
			<div id="footerlinks">
				<a href="contact.html">Contact</a>
				<a href="about.html">About</a>

				<a href="http://www.portmac-h.schools.nsw.edu.au/moodle/login/index.php">Moodle</a>
				<a href="sitemap.html">Sitemap</a>
			</div>
			<a href="index.html"><img src="static/logo.png" id="footerlogo"></a>
		</div>
	</body>
</html>