<!-- directly reading off mum's tablet drawing -->
<!DOCTYPE html>
<html>
<head>
	<title>Hastings Carpet Cleaning</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<style type="text/css">
		body {
			text-align:center;
		}

		#header {
			height:25%;
			border-bottom:4px solid #020249;
		}

		.bigheading {
			line-height:50pt;
			min-height:50pt;
		}
	</style>
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="header">
		<img src="static/hcctitle.png" class="titleimage">
		<div id="nav">
			<a href="#about" class="headinglink aboutlink">About</a> - Prices - Services - Contact
		</div>
	</div>
	<div class="bigheading">Looking for a carpet cleaner in Port Macquarie?</div>
</body>
</html>