<!DOCTYPE html>
<html>
	<head>
		<title>Hastings Carpet Cleaning</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="./static/styles.css">
		<!-- [if lt IE 9]
			<style type="text/css">
				.box {
					filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/townbeach_large.jpg', sizingMethod='scale');
					-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/townbeach_large.jpg', sizingMethod='scale')";
				}
			</style>
		<![endif] -->

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

		<script type="text/javascript">
			var navigationHidden = true;

			// TODO: phpify the random image
			$(document).ready(function() {
				// display a random image
				var images = ["townbeach", "flynnsbeach"];
				var alignments = ["center", "right"]
				var index = Math.floor(Math.random()*images.length);
				$("#top").css("background-image", 'url("static/' + images[index] + '_large.jpg")');
				$("#top").css("background-position", alignments[index]);

				// need to hide toplink if the user scrolls up too far
				var scrollCheck = setInterval(function() {
					var scrollTop = $(window).scrollTop();
					var triggerHeight = $("#top").position().top + $('#top').outerHeight(true);
					if (!navigationHidden) {
						if (scrollTop < triggerHeight) {
							$("#floatingnav").fadeOut("fast");
							navigationHidden = true;
						}
					} else {
						if (scrollTop >= triggerHeight) {
							$('#floatingnav').fadeIn('fast', function() {
								navigationHidden = false;
							});
						}
					}
				}, 250);
			});
		</script>
	</head>
	<body>
		<div class="box" id="top">
			<div class="whitebox">
				<img src="static/white_fontside.png" class="titleimage">
				<div id="nav">
					<a href="#about" class="headinglink aboutlink">About</a> - <a href="#prices" class="headinglink priceslink">Prices</a> - <a href="#contact" class="headinglink contactlink">Contact</a><br>
					<div class="phonenumbers">Mob: <a href="tel:0431350903">0431 350 903</a> <br> Ph: <a href="tel:0265824391">02 6582 4391</a></div>
				</div>
			</div>
		</div>

		<div class="box" id="about">
			<div class="bigheading"><div class="verticalaligner">Looking for a carpet cleaner in Port Macquarie?</div></div>
			<div class="smallheading"><div class="verticalaligner">You're looking for Hastings Carpet Cleaning.</div></div>
			<div class="iconbox">
				<img src="./static/lighthouseicon.png"><br>
				<span>Locally owned and operated.</span>
			</div>
			<div class="iconbox">
				<img src="./static/efficiencyicon.png"><br>
				<span>Prompt and efficient.</span>
			</div>
			<div class="iconbox">
				<img src="./static/teamicon.png"><br>
				<span>Family run business.</span>
			</div>
		</div>

		<div class="box" id="prices">
			<div class="bigheading"><div class="verticalaligner">Get your carpets cleaned professionally.</div></div>
			<div class="smallheading"><div class="verticalaligner"></div></div>
			<div class="iconbox">
				<img src="./static/emptyroomsicon.png"><br>
			</div>
			<div class="iconbox">
				<img src="./static/furnishedroomsicon.png"><br>
			</div>
			<div class="iconbox">
				<img src="./static/stairsicon.png"><br>
			</div>
			<div class="smallerheading">10% discount for more than five rooms.</div>
			<div class="smallestheading">Minimum charge $85. Prices estimate only and may vary depending on your carpet condition.</div>
			<div class="smallestheading">GST included.</div>
		</div>

		<div class="box" id="contact">
			<div class="bigheading"><div class="verticalaligner">Call now for a free quote.</div></div>

			<table id="contacts">
				<tbody>
					<tr>
						<td><img src="./static/phoneicon.png"></td>
						<td class="contactdetail"><a href="tel:0265824391">02 6582 4391</a></td>
					</tr>
					<tr>
						<td><img src="./static/mobileicon.png"></td>
						<td class="contactdetail"><a href="tel:0431350903">0431 350 903</a></td>
					</tr>
					<tr>
						<td><img src="./static/FB-f-Logo__blue_58.png"></td>
						<td class="contactdetail" id="fbcontactdetail"><a href="http://fb.me/hastingscarpetcleaning">hastingscarpetcleaning</a></td>
					</tr>
					<tr>
						<td><img src="./static/twitterlogo64.png"></td>
						<td class="contactdetail"><a href="http://twitter.com/PMQCarpetClean">@PMQCarpetClean</a></td>
					</tr>
				</tbody>
			</table>

			<div class="smallheading"><div class="verticalaligner">Or request a quote online.</div></div>

			<form id="quoteform">
				<input type="text" name="name" placeholder="Name">
				<input type="text" name="suburb" placeholder="Suburb">
				<input type="email" name="email" placeholder="Email address">
				<textarea name="details" placeholder="Details..."></textarea>
				<input type="submit" id="submitbutton" value="Request a quote">
			</form>

		<div class="clear"></div>

		</div>

		<div id="floatingnav">
			<a href="#top">Home</a> - <a href="#about">About</a> - <a href="#prices">Prices</a> - <a href="#contact">Contact</a>
		</div>

	</body>
</html>