<!DOCTYPE html>
<html>
<head>
	<title>Hastings Carpet Cleaning</title>

	<link rel="stylesheet" type="text/css" href="./styles.css">
	<!-- [if lt IE 9]
		<style type="text/css">
			.box {
				filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/townbeach_large.jpg', sizingMethod='scale');
				-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/townbeach_large.jpg', sizingMethod='scale')";
			}
		</style>
	<![endif] -->

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

	<script type="text/javascript">
		// TODO: phpify the random image
		$(document).ready(function() {
			// display a random image
			var images = ["townbeach", "flynnsbeach"];
			var alignments = ["center", "right"]
			var index = Math.floor(Math.random()*images.length);
			$("#top").css("background-image", 'url("static/' + images[index] + '_large.jpg")');
			$("#top").css("background-position", alignments[index]);
			$(".aboutlink").click(function() {
				goToScreen("about");
				return false;
			});
		});

		function goToScreen(screen) {
			$('html, body').stop().animate({
				scrollTop: $("#" + screen).position().top
			}, 400);
		};
	</script>
</head>
<body>
	<div class="box" id="top">
		<div class="whitebox">
			<img src="static/hcctitle.png" class="titleimage">
			<div id="nav">
				<a href="#about" class="headinglink aboutlink">About</a> - Prices - Services - Contact
			</div>
		</div>
	</div>

	<div class="box" id="about">
		<div class="bigheading">Looking for a carpet cleaner in Port Macquarie?</div>
		<div class="smallheading">You're looking for Hastings Carpet Cleaning.</div>
		<div class="iconbox">
			<img src="./static/lighthouseicon.png"><br>
			<span>Locally owned and operated.</span>
		</div>
		<div class="iconbox">
			<img src="./static/efficiencyicon.png"><br>
			<span>Prompt and efficient.</span>
		</div>
		<div class="iconbox">
			<img src="./static/teamicon.png"><br>
			<span>Family run business.</span>
		</div>
	</div>
</body>
</html>