<!DOCTYPE html>
<html>
	<head>
		<title>Hastings Carpet Cleaning</title>
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="./static/otherstyles.css">
	</head>
	<body>
		<div id="header">
			<a href="/">
				<img src="./static/hccsmallerbannerinverted.png">
			</a>

			<div id="nav">
				<a href="/#about">About</a> | <a href="/#prices">Prices</a> | <a href="/#contact">Contact</a>
				<br>
				<div class="phonenumbers">Mob: <a href="tel:0431350903">0431 350 903</a> <br> Ph: <a href="tel:0265824391">02 6582 4391</a></div>
			</div>
		</div>

		<div id="topbar">
			<ul>
				<li><a href="./faq.html">FAQs</a></li>
				<li><a href="./faq.html">FAQs</a></li>
			</ul>
		</div>

		<div id="content">
			<h1>Frequently Asked Questions</h1>

			<h2>Why should I choose you?</h2>
			<p>We offer fixed quotations, with no hidden costs or add-ons. We are a family owned, family operated, local business. We have modern equipment, and can offer carpet cleaning solutions catered to your specific situation. We are also fully insured, <a href="http://www.woolsafe.org/australia/">WoolSafe</a> approved operators, with Certificate III qualification in Asset Maintenance Carpet Cleaning.</p>

			<h2>What method do you use?</h2>
			<p>As we are an independent business, we are not restricted by franchise restrictions and can use any industry approved method of carpet cleaning, as appropriate for your carpet. We will use what will work best for your carpet and your individual situation.</p>

			<h2>Do I need to vacuum before you arrive?</h2>
			<p>In accordance with the Australian Standards for Carpet Cleaning, we vacuum your carpet with an upright vacuum cleaner before every clean. If you would like to vacuum the carpets before we get there, that is fine too.</p>

			<h2>Do you move furniture?</h2>
			<p>Carpet cleaners are not covered by Work Cover or insurance for furniture removal. However, we will happily move lounges and small items around, provided they are not too heavy.</p>

			<h2>How long will it take for my carpet to dry?</h2>
			<p>Average drying time is between 1-2 hours. However, drying times will depend on the carpet type, thickness of the pile, weather conditions, and relative humidity. Your home air conditioner can also be used in any season to help dry the carpets.</p>

			<h2>Will all stains come out?</h2>
			<p>A spot is something that is attached to the carpet, but has not yet become set. A stain, however, is more advanced, and may have set into the carpet. Normal spotting and stain removal is included in our price and our cleaning process, and we will remove all spots such as food, grease, mud, and so on, if at all possible. Some stains may be impossible to remove by any method, and hence we will advise you whether we will be able to remove a specific stain such as coffee, tea, blood, urine, wine, and so on, on a case-by-case basis.</p>

			<h2>Will the products you use potentially harm my children/pets?</h2>
			<p>The products we use are safe for children and pets once dry, and most of the products we use are safe while wet, too. However, it is best to make arrangements for your children and pets to remain off of the carpets until they are dry.</p>

			<h2>Do I need to be present for the cleaning?</h2>
			<p>We prefer if you are home initially, to walk us through the areas to be cleaned and point out problem areas, and for us to advise you of any potential problems with your carpet. If you then wish to leave, we are happy to lock up for you. This is not a requirement, however, and you do not need to be present.</p>

			<h2>What should I do before your arrival?</h2>
			<p>Please remove small items, small furniture, plants, and other similar items out of the rooms being cleaned. Breakables and valuables need to be removed where possible. Please consider arrangements for children and pets.</p>

			<h2>Can I walk on my carpet after it is cleaned?</h2>
			<p>We clean the carpet fibres only. The backing, underlay, or subfloor, should not get wet, so you can walk on the carpet immediately. We ask that you are careful moving from damp carpet to hard floors, as they may be slippery.</p>

			<h2>Why should I hire you, when someone else gave me a cheaper estimate?</h2>
			<p>Our prices may be slightly higher than the alternate quote you received, but you will find our results are far better. The same is true for DIY carpet cleaning systems available at supermarkets: You cannot achieve the same quality clean as a trained professional carpet cleaner with commercial equipment, and you may ruin your carpet.</p>

			<h2>Will you show up on time?</h2>
			<p>We pride ourselves on punctuality. We do not overbook appointments, and will book in an arrival time in advance. We are happy to phone you shortly before arrival if you require explicit notice (for example, if you are meeting us on a work break).</p>

			<h2>Do you charge a cancellation fee?</h2>
			<p>We don't charge a cancellation fee if you cancel with sufficient notice (generally the day before). If you cancel en-route, or on arrival, then we will charge a cancellation fee appropriate to the size of the job, as we have to set aside a time slot to clean your carpets and this stops us from working on other carpets which we would have otherwise worked on.</p>
		</div>
	</body>
</html>
