<!DOCTYPE html>
<html>
	<head>
		<title>Hastings Carpet Cleaning</title>
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="./static/otherstyles.css">
	</head>
	<body>
		<div id="header">
			<a href="/">
				<img src="./static/hccsmallerbannerinverted.png">
			</a>

			<div id="nav">
				<a href="/#about">About</a> | <a href="/#prices">Prices</a> | <a href="/#contact">Contact</a>
			</div>
		</div>

		<div id="topbar">
			<ul>
				<li><a href="./faq.html">Frequently Asked Questions</a></li>
			</ul>
		</div>

		<div id="content">
			<h1>Frequently Asked Questions</h1>

			<h2>What method do you use?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper volutpat dui sed pretium. Vivamus sed euismod tellus, at lacinia est. Suspendisse fringilla euismod erat et ornare. Morbi orci arcu, elementum ac imperdiet in, tincidunt sit amet arcu. Etiam aliquam suscipit nulla fringilla hendrerit. Quisque gravida, sapien et eleifend porta, purus nisi suscipit nulla, quis pharetra ipsum diam id velit. Curabitur auctor eros in sodales ornare. Cras eget ante felis. Aenean augue lorem, lobortis elementum ipsum volutpat, tempus blandit nisi. Vestibulum pharetra nibh sagittis justo molestie dapibus. Sed nec sapien id tortor lobortis ultricies. In hac habitasse platea dictumst. Cras nec dolor sit amet tortor volutpat gravida quis vel arcu. Nulla consectetur orci ac dictum feugiat. Suspendisse nec congue magna, vel cursus justo. Maecenas ac velit suscipit, varius leo eu, interdum lorem.</p>

			<p>Praesent vel lacinia sem. Mauris eu mi dapibus, bibendum sapien vel, venenatis leo. Mauris nec lacinia mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec est neque, pulvinar at elit vitae, commodo elementum turpis. Cras sed ornare tellus, quis placerat sapien. Pellentesque eleifend lacinia orci, eu dapibus neque sollicitudin et. Sed convallis lacus vitae risus iaculis, vel sodales nisl interdum. Aenean ut ultricies tellus. Morbi sit amet lectus sed lacus pulvinar scelerisque. Etiam neque lorem, rhoncus at auctor a, tincidunt quis nulla. Cras ullamcorper malesuada ligula. Phasellus dictum massa mi, eu congue ligula interdum quis.</p>

			<h2></h2>
		</div>
	</body>
</html>
