* {
	margin:0;
	padding:0;
}

html, body {
	width:100%;
	height:100%;
}

.headinglink:link, .headinglink:visited {
	color:inherit;
}

.headinglink:hover {
	color:#46468D;
}

.box {
	width:100%;
	min-height:100%;
	text-align:center;
}

#top {
	background: url("static/townbeach_large.jpg") no-repeat bottom right;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

.whitebox {
	padding:10pt 20pt 20pt 20pt;
	background-color:white;
	border-radius:0 0 10pt 10pt;
	display:inline-block;
	max-height:100%;
}

.footerbox {
	position:absolute;
	bottom:0;
	font-family: 'Muli', sans-serif;
	width:100%;
}

.footerinner {
	padding:10pt;
	background-color:#FFFFFF;
	border-radius:10pt 10pt 0 0;
	margin:0 auto;
	display:inline-block;
}

#nav {
	color:#020249;
	font-family: 'Muli', sans-serif;
	font-size:2em;
}

.titleimage {
	max-width:100%;
}

#about {
	background-color:#DFDFFF;
}

.bigheading {
	width:100%;
	min-height:100pt;
	line-height:100pt;
	background-color:#020249;
	font-family: 'Muli', sans-serif;
	color:#FFFFFF;
	font-size:2.5em;
}

.smallheading {
	font-family: 'Muli', sans-serif;
	color:#000000;
	font-size:2em;
	line-height:100pt;
}

.iconbox {
	font-family: 'Muli', sans-serif;
	display:inline-block;
	margin:15px;
}