html, body, canvas {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;

	text-align: center;
	font-family: "Noto Sans", "Trebuchet MS", Tahoma, Arial, sans-serif;

	background-color: #F0FF8F;
}

#canvas {
	margin-right: auto;
	margin-left: auto;

	display: block;

	background-color: #FFFFFF;
}

#score {
	padding: 20pt;

	position: absolute;
	top: 0;
	left: 0;

	font-size: 20pt;
	color: #EFEFEF;
}

/*
#title {
	padding: 20pt;

	position: absolute;
	top: 0;
	right: 0;

	font-size: 20pt;
	color: #EFEFEF;
}
*/