html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #DFDFFF;
	display: table;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Muli, Tahoma, Arial, sans-serif;
	font-weight: bold;
	padding: 10pt 0;
}

h1 {
	font-size: 30pt;
	text-align: center;
}

h2 {
	font-size: 20pt;
}

h3 {
	font-size: 18pt;
}

a {
	color: inherit;
}

a:hover {
	color:#7C7CF4;
}

p {
	line-height: 20pt;
	margin-bottom: 1em;
}

#header {
	background-color: #020249;
	display: table-row;
	width: 100%;
	height: 100px;
	text-align: center;
}

#header img {
	max-width: 100%;

	margin-bottom: 20pt;
	margin-left: 20pt;

	vertical-align: middle;
}

#nav {
	display: inline-block;
	vertical-align: middle;

	font-family: Muli, Tahoma, Arial, sans-serif;
	font-size: 20pt;
	color: #FFFFFF;
	text-align: center;
	margin: 0 20pt;
}

#nav a {
	text-decoration: none;
}

#phonenumbers {
	font-size:60%;
}

#phonenumbers a {
	text-decoration: underline;
}

#topbar {
	height: 20pt;
	padding: 5pt;
	line-height: 20pt;
	background-color: #2C2CA4;
}

#topbar a:hover {
	color: #7C7CF4;
}

#content {
	min-height: 200pt;
	padding: 20pt;
	margin: 10pt 10%;
	font-family: "Trebuchet MS", Arial, sans-serif;
}

#topbar ul {
	text-align: center;
	color: #FFFFFF;
	font-family: Muli, Tahoma, Arial, sans-serif;
	font-size: 14pt;
}

#topbar li {
	display: inline-block;
	padding:0 10pt;
}

#topbar a {
	text-decoration: none;
}

#quoteform {
	margin: 0 auto;
	background-color: #FFFFFF;
	width: 500pt;
	padding: 10pt 0;
}

#quoteform input, #quoteform textarea {
	display: block;
	border: 0;
	margin: 10pt;
	padding: 10pt;
	width: 460pt;
	font-family: Muli, sans-serif;
}

#quoteform input[type="submit"] {
	width: 480pt;
}

#quoteform #submit-button {
	width: 480pt;
}

.errormessage {
	text-align: center;
	padding: 20pt;
}

.testimonial {
	font-size: 20pt;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
	vertical-align: middle;
	margin-bottom: 10pt;
	clear: both;
}

.testimonialcontent:before {
	content: "\201C";
}

.testimonialcontent:after {
	content: "\201D";
}

.testimonialauthor {
	color: #777777;
	font-size: 75%;
	float: right;
	vertical-align: middle;
}

.testimonialauthor:before {
	content: "\2015  ";
}

#faqindex {
	background-color: #EEEEFF;
	line-height: 20pt;
	padding: 10pt;
}

.smallerheadinglink:link, .smallerheadinglink:visited {
	color: inherit;
	text-decoration: none;
}

.smallerheadinglink:hover {
	color: #7C7CF4;
}

.smallerheadinglink {
	font-size: 80%;
}

#training {
	list-style-type: square;
	line-height: 20pt;
}