<article class="hentry">
        <div> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </div>
        <div class="post-info">
            <abbr class="published left" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
            <address class="vcard author right">By
            {% for author in article.authors %}
                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
            </address>
            <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" class="n-comments right">Comments</a>
            <div class="clearfix">
        </div><!-- /.post-info -->
        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
</article>